body
#osnova{
    position:absolute;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    border:0px;
    padding:0px;
    overflow:hidden;
 
}
.text,#text_stranici,#metka_div,#interes_div{
    padding-top: 4px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 30px;
    word-spacing:5px;
    text-indent: 20px;
    font-size: 20px;
}
#name_sait1,#name_sait2,#name_sait2_teni{
    position: absolute;
    font-style: italic;
    color: #c0ffe0;
    
}
#name_sait1 {
    
    right: 60px;
    top: 60px;
    font-size: 55px;
    font-weight: 800;
    
}
#name_sait2,#name_sait2_teni {
    
    right: 30px;
    top: 120px;
    font-size: 35px;
    
}
#name_sait1_teni {
    position: absolute;
    right: 60px;
    top: 60px;
    font-size: 55px;
    font-weight: 800;
    font-style: italic;
    color: black;
    filter: blur(10px);
}
#okna {
    position: absolute;
    width: 270px;
    height: 100%;
    right: 0px;
    border: 2px solid #104070;
    border-right:0px;
    border-top:0px;
    border-bottom:0px;
    background-color: #5080b0;
    overflow:hidden;
    visibility: visible;
}
#dvigenie_paneli {
    position: absolute;
    width: 25px;
    height: 35px;
    top: 160px;
    right: 250px;
    border: 2px solid #104070;
    background-color: #5080b0;
    border-radius: 8px;
    
}
#dvig_ris{
    position:absolute;
    width:5px;
    height:25px;
    top:5px;
    left:8px;
    border:2px solid #104070;
    border-top:0px;
    border-bottom:0px;
}
#razdel_teni {
    position: absolute;
    top: 122px;
    left: 10px;
    padding-left: 12px;
    font-size: 45px;
    font-style: italic;
    color: #102040;
}
#razdel {
    position: absolute;
    left:10px;
    top: 120px;
    padding-left: 10px;
    font-size: 45px;
    font-style: italic;
    color: #c0e0ff;
}
#kn_za_str2 {
    position: absolute;
    top: 0px;
    width: 50px;
    height: 35px;
    background: #b0c0f0;
    border: 2px solid #305060;
    border-top: 0px;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

#ris_kn_za_str2 {
    position: absolute;
    top: 5px;
    left: 15px;
    width: 15px;
    height: 15px;
    border: 2px solid #304050;
    border-radius: 50%;
    border-bottom: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right: 0px;
}

#ris_min2 {
    position: absolute;
    background: #b0c0f0;
    border: 2px solid #304050;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    top: 21px;
    left: 13px;
    width: 6px;
    height: 10px;
}

#ris_v2 {
    position: absolute;
    top: 12px;
    left: 10px;
    color: #304050;
}
#ris_str2 {
    position: absolute;
    left: 10px;
    width: 30px;
    top: 12px;
    height: 2px;
    background: #304050;
}

#kn_za_str {
    position:absolute;
    top:0px;
    width:50px;
    height:35px;
    background:#b0c0f0;
    border:2px solid #305060;
    border-top:0px;
    border-radius:10px;
    border-top-left-radius:0px;
    border-top-right-radius:0px;
}
#ris_kn_za_str{
    position:absolute;
    top:5px;
    left:15px;
    width:15px;
    height:20px;
    border:2px solid #304050;
    
    border-radius:50%;
    border-bottom:0px;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
    border-right:0px;

}
#ris_min{
    position:absolute;
    background:#b0c0f0;
    border:2px solid #304050;
    border-left:0px;
    border-right:0px;
    border-bottom:0px;
    top:10px;
    left:28px;
    width:6px;
    height:10px;
}
#ris_v{
    position:absolute;
    top:1px;
    left:24px;
    color:#304050;
}
#ris_str{
    position:absolute;
    left:10px;
    width:30px;
    top:20px;
    height:2px;
    background:#304050;
}



.c_gl_p{
  position:absolute;
  top:200px;
  left:30px;
  
  height:300px;
  border-radius:10px;
  background-color:#c0d0ff;
  font-size:22px;
  padding-left:10px;
  padding-top:10px;
  color:black;
}

#ten_vibronogo_p {
    position: absolute;
    width:730px;
    left: 40px;
    
    background-color: black;
    border-radius:40%;
    filter: blur(8px);
}
#ogl_vibrono_copiy {
    position: absolute;
    border: 2px solid #104070;
    padding-left: 5px;

    font-size: 32px;
    left: 40px;
    color: #b0f0e0;
    height:42px;
    border-radius: 10px;
    
    text-align: center;
    background-color: #3090c0;
}

.c_ten_p {
    position: absolute;
    width: 6px;
    
    height:38px;    
    background-color: black;
    filter: blur(3px);
}
.c_p{
position:absolute;
  border:2px solid #104070;
  
  padding:3px;
  font-size:24px;
  left:40px;
  color:#104070;
  border-top-left-radius:10px;
  border-bottom-left-radius:10px;
  text-align:left;
  background-color:#a0c0ff;
}
.c_ten {
    position: absolute;
    width:350px;
    height:200px;
    top:0px;
    left:0px;
    background-color:black;
    border-radius:10px;
    filter: blur(10px);
    visibility:hidden;
}
#ten_stranici {
    position: absolute;
    height:100%;
    left:126px;
    right:270px;
    top: 225px;
    background-color: black;
    filter: blur(8px);
}

#stranica {
    position: absolute;
    
    left: 125px;
    right: 280px;
    top: 220px;
    overflow: hidden;
    border-radius: 5px;
    background-color: #102040;
    visibility: visible;
}
#razd_1_p_1_zagl{
    width:100%;
    text-align:center;

}
#text_stranici {
    width: 100%;
    background-color: white;
    border-radius: 3px;
    visibility: visible;
}
.tm{
    display:none;
}

.tot{
    color:black;
    width:100%;
    
}
h2 {
    color: indianred;
    text-align: center;
    line-height: 35px;
}
#ten_kn_nazad {
    position: absolute;
    background-color: black;
    width: 50px;
    height: 60px;
    border-radius: 40%;
    filter:blur(5px);
    
}
#kn_nazad {
    position: absolute;
    background-color: #5080b0;
    border: 2px solid #104070;
    width: 45px;
    height: 45px;
    border-radius: 40%;
    color:#104070;
    font-size: 40px;
    font-weight: 800;
    text-align:center;
    padding-top:10px;
    
}
.c_svet_okna{
    position:absolute;
    top:3px;
    left:4px;
    right:4px;
    height:3px;
    background-color:white;
    filter:blur(3px);
}
.c_ten_okna {
    position: absolute;
    top:30px;
    left: 1px;
    right: 1px;
    height: 3px;
    background-color: black;
    
    filter: blur(3px);
}


.c_okno {
    position: absolute;
    background-color: #40a0d0;
    left: 20px;
    width: 240px;
    height:200px;
    border-radius: 10px;
    border: 2px solid #104070;
    font-size: 22px;
    font-weight: 500;
    visibility: visible;
}

.c_okno_name {
    position: absolute;
    color:#d0ffe0;
    padding-left: 10px;
    visibility: visible;
}

.c_okno_text {
    position: absolute;
    right: 0px;
    left: 0px;
    
    top: 35px;
    background-color:#fff8e0;
    font-language-override: normal;
    font-display: auto;
    
    overflow: hidden;
    font-size: 17px;
    visibility: visible;
}
.c_okno_knopki {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 3px;
    border: 2px groove #306090;
    background-color: #40a0d0;
}
#ten_kn_prydki {
    position: absolute;
    
    left: 2px;
    width: 40px;
    height: 43px;
    background-color: black;
    filter: blur(8px);
    visibility:hidden;
}
#kn_prydki {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 0px;
    bottom:0px;
    font-size: 36px;
    font-weight: 800;
    text-align: center;
   
    color:#506070;
    background: #b0d0f0;
    border: 2px solid #104070;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-top-left-radius:0px;
    border-left:none;
    visibility:hidden;
}
#ten_line_pomoshnik {
    position: absolute;
    left: 0px;
    width: 170px;
    bottom: 55px;
    height: 5px;
    background-color: black;
    filter: blur(5px);
}
#line_pomoshnik {
    position: absolute;
    left: 0px;
    bottom: 54px;
    width: 160px;
    height: 1px;
}
#sleva{
    position:absolute;
    bottom:20px;
    left:0px;
    width:200px;
    height:200px;
    
    overflow:hidden;
    
}
#pomoshnik {
    position: absolute;
    bottom: 55px;
    left: 40px;
}
#ten_pomoshnika{
    position:absolute;
    width:100px;
    height:100px;
    bottom:0px;
    left:20px;
    filter:blur(20px);
    background-color:black;
    border-radius:50%;

}
#telo {
    position: absolute;
    width: 100px;
    height: 100px;
    bottom: 10px;
    left: 0px;
    background-color: #d0c040;
    border-radius: 50%;
    border: 2px solid #f37a29;
}
#svet_tela {
    position: absolute;
    width: 80px;
    height: 80px;
    bottom: 20px;
    left: 10px;
    filter: blur(15px);
    background-color: #ffff60;
    border-radius: 50%;
}
#glaz_l,#glaz_r{
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: 60px;
    background-color: black;
    border-radius: 50%;

}
#glaz_l {
    left: 25px;
}
#glaz_r {
    left: 60px;
}
.c_svet_glaz {
    position: absolute;
    width: 5px;
    height: 5px;
    top: 5px;
    left: 5px;
    background-color: white;
    border-radius: 50%;
    filter:blur(2px);
}
#sheka_l,#sheka_r {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 20px;
    
    filter: blur(5px);
    background-color: orangered;
    border-radius: 50%;
    visibility:hidden;
}
#sheka_l {left:-10px;}
#sheka_r {
    right: -10px;
}


#guba_1 {
    position: absolute;
    width: 20px;
    height: 8px;
    top: -50px;
    left: 42px;
    
    border-radius: 50%;
    border-bottom:3px solid red;

    
}

#guba_2 {
    position: absolute;
    width: 12px;
    height: 12px;
    top: -56px;
    left: 32px;
   
 
    border: 2px solid red;
 
    border-top:0px;
    border-right:0px;
    border-bottom-left-radius: 95%;
    
}

#ten_menu {
position:absolute;
width:100%;
height:10px;
top:55px;
background-color:black;
filter:blur(14px);
}
#ten_m {
    position: absolute;
    width: 260px;
    
    top: 60px;
    background-color: black;
    filter: blur(15px);
    visibility:hidden;
}

#menu_line {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 55px;
    background-color: #80c0ff;
}

#menu {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 70%;
    height: 40px;
    
    
    background-color: #80c0ff;
    padding-top:10px;
    padding-left: 20px;
    font-size: 26px;
    font-weight: 700;
}

.c_m_g {
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    
    visibility: visible;
}

.c_m_o {
    background-color: #a0d0ff;
    top: 44px;
    width: 260px;
    font-size: 24px;
    font-weight: 500;
    border: 2px solid black;
    position: absolute;
    overflow: hidden;
    visibility: hidden;
}

.c_m {
    background-color: #a0d0ff;
    left: 0px;
    width: 100%;
    padding-left: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    border: 0;
    position: absolute;
    overflow: hidden;
    visibility: hidden;
}
.c_m_line_0,.c_m_line_1,.c_m_line_2,.c_m_line_3,.c_m_line_4,.c_m_line_5,.c_m_line_6,.c_m_line_7{
    position:absolute;
    width:100%;
    visibility:hidden;
}
.c_m_line_0 {
    top: 56px;
}

.c_m_line_1 {
    top: 58px;
}

.c_m_line_2 {
    top: 126px;
}

.c_m_line_3 {
    top: 128px;
}

.c_m_line_4 {
    top: 546px;
}

.c_m_line_5 {
    top: 548px;
}
.c_m_line_6 {
    top: 616px;
}

.c_m_line_7 {
    top: 618px;
}

#predupr{
    position:absolute;
    top:300px;
    left:150px;
   right:150px;
    font-size:100px;
    color:red;
    text-align:center;
    border:5px groove red;
}
.c_na_meste_a{
    position:absolute;
    width:9px;
    height:6px;
    right:3px;
    top:8px;
    background-color:#c0ffe0;
}
.c_na_meste_b {
    position: absolute;
    width:5px;
    height:2px;
    top:10px;
    left:3px;
    background-color:#306090;
}
.c_na_meste_c {
    position: absolute;
    width: 2px;
    height: 10px;
    left: 8px;
    top: 6px;
    background-color: #306090;
} 
.c_svert_a {
    position: absolute;
    width: 5px;
    height: 12px;
    right: 6px;
    bottom: 5px;
    background-color: #c0ffe0;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
    border-top-right-radius:0px;
    border-bottom-right-radius:0px;
}
.c_svert_b {
    position: absolute;
    width: 2px;
    height: 18px;
    right: 4px;
    bottom: 2px;
    background-color: #306090;
}
.peredel{
    position:absolute;
    border: 2px inset green;
}
.svet_nadpisi{
    position:absolute;
    line-height: 30px;
    word-spacing:5px;
    color:white;
    font-size: 24px;    
    filter:blur(3px);
}
.kn_stran,#isk{
background-color:#40a0d0;
    color:#d0ffe0;
    border:2px solid #104070;
    border-radius:10px;
    padding-top: 4px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
    
    line-height: 30px;
    word-spacing:5px;

    font-size: 24px;    
    cursor:pointer;
}
.kn_stran{
position:absolute;
left:10px;
top:100px;
}
.paragraf,.paragraf_v,.reshenie,.reshenie_v,.ssilka,.ssilka_v,.metka,.metka_v,.interes,.interes_v {
    padding-top: 1px;
    padding-bottom: 4px;
    padding-left: 7px;
    padding-right: 7px;
    cursor: pointer;
}
.paragraf {
    background: #ffb0a0;
    font-weight: 800;

    color: black;
}
.paragraf_v {
    background: black;
    font-weight: 800;

    color: #ffd0c0;
}
.reshenie {
    background: #b090ff;
}
.reshenie_v {
    background: #5000a0;
    color:#e0a0ff;
}
.reshenie_div{
    border:2px solid #5000a0;    
    padding-top: 4px;
    padding-bottom: 0px;
    padding-left: 15px;
    padding-right: 3px;
}
.ssilka {
    background: #a0e0ff;
}
.ssilka_v {
    background: #0010a0;
    color:#a0e0ff;
}
.metka {
    background: #c0ff20;
}
.metka_v{
    background: #00a010;
    color:#a0ffe0;
}
#ten_metka{
position:absolute;
    background-color: black;
    filter: blur(10px);
    visibility:hidden;
}
#metka_div{
    position:absolute;   
    background:#efffe0;    
    border:2px solid #00a010;    
    visibility:hidden;
    border-radius: 10px;
}    
#metka_treug{
    position:absolute;
    visibility:hidden;
}
.interes {
    background: #fff040;
}

.interes_v{
    background: #ffd040;
    color:#604020;
}

#ten_interes{
    position:absolute;
    background-color: black;
    filter: blur(10px);
    visibility:hidden;
}
#interes_div{
    position:absolute;   
    background:#ffefe0;    
    border:2px solid #804020;    
    border-radius: 10px;
    visibility:hidden;
}
#interes_treug{
    position:absolute;
    visibility:hidden;
   
}
#kn_zakrit{
    text-align:center;
    width:30px;
    color:red;
    border:2px solid red;
    cursor:pointer;
}
.nowosti {
    margin-top: 10px;
    background: #906010;
    width: 100%;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
}
.nowosti_zagolovok {
    width: 70%;
    height: 100%;
    background:#d0ffe0;
    font-style:italic;
    font-weight:bold;
}

.nowosti_data {
    background: #c0e0ff;
    width: 29%;
    height: 70%;
    padding: 5px;
}
.nowosti_text {
    background: #fff8e0;
    border:2px solid #906010;
    border-top:0px;
    padding:0px 10px 0px 10px;
    line-height: 30px;
    word-spacing:5px;
    text-indent: 20px;
    font-size: 20px;
}
.istoriy{
    width:100%;
    background:#103090;
    padding:3px;
    cursor:pointer;
}
.istoriy_nomer,.istoriy_vizit,.istoriy_time{padding:10px;}
.istoriy_nomer{
    background:#f0f9ff;
}
.istoriy_vizit{
    background:#c0e0ff;
}
.istoriy_time{
    background:#d0eaff;
}
.ym_reg{height:30px;font-size:16px;}
.ymelec {
    width:100%;
    background:#e0fdc0;
    border:2px solid #309060;
    border-radius:10px;
    overflow:clip;
    padding:5px;
    cursor:pointer;
}

.rabota_ymelca
{
    text-align:center;
    width:100%;
    background:#906030;
    border-radius:10px;
    cursor:pointer;
}
.rabota_izdelie{
    background:#e0c0a0;
    border-radius:8px 0px 0px 8px;
}
.rabota_ym{
    width:30%;
    background:#e0fdc0;
    border-radius:0px 8px 8px 0px;
    padding:10px;

}
.rabota{
    margin:20px 20px 0px 20px;
    height:200px;
    background:#fff8e0;
    border:2px solid black;
}

.yrok_ymelca{
    background:#901010;
    border-radius:10px;
    cursor:pointer;
}
.yrok_ym{
    background:#ffc0c0;
    border-radius:0px 8px 8px 0px;
    text-align:center;
    padding:10px;
}
.yrok{
     width:70%;
     background:#fff0e0;
     text-align:right;
     border-radius:8px 0px 0px 8px;
     padding:20px;
}
.yroks_ymelca{
    background:#101090;
    border-radius:10px;
    cursor:pointer;
}
.yroks_ym{
    background:#c0e0f0;
    border-radius:8px 0px 0px 8px;
    text-align:center;
    padding:10px;
}
.yroks{
     width:70%;
     background:#e0f0e0;
     border-radius:0px 8px 8px 0px;
     padding:10px;
}
.shema_ymelca{
     width:100%;
     text-align:center;
     background:#f0e0ff;
     border:2px solid #303060;
     border-radius:8px;
     cursor:pointer;
}
.shema{
     width:70%;
     background:#e0f0ff;
     border:2px solid #303060;
     border-radius:8px;
     padding:10px;
     overflow:hidden;
}

.shema_img{
    position:relative;
    width:100px;
    border:2px solid black;
    margin:1px;

    
}
.foto_ymelca {
    overflow:clip;
    background:#fff8e0;
    width: 200px;
    margin:10px 10px 0px 10px;
    border: 2px solid #006030;
    border-radius: 10px;

}
.foto_ymelca_min {
    overflow: clip;
    width: 75px;
    background:#fff8e0;
    border: 2px solid #405040;
    border-radius: 10px;
    margin:20px 20px 0px 20px;
}

.spisok {
    margin:10px;
    border: 2px solid #306090;
    border-radius: 10px;
}
.ris_inter{
    border:2px solid green;
    border-radius:10px 10px 0px 0px;
    padding:5px 10px 5px 10px;
    

}
.foto_rab{
    position:clip;
    border:2px solid black;
    
    margin:1px;
}
.dizain {
    
    width: 75px;
    height:100px;
    background:#fff8e0;
    border: 2px solid #405040;
    
    margin:5px;
     cursor:pointer;
}
.form_zag{
    background:#d0ffa0;
    border:2px solid #50a070;
    width:80%;
    
    border-radius:10px 10px 0px 0px;
    

}
#form_chel_div{
    background:#fdffd0;
    border:2px solid #50a070;
    border-top-color:#505050;
    border-radius:0px 10px 10px 10px;
}
.form_vstavka{
    border:1px solid #709050;
    border-radius:5px;
    margin:10px;
    padding:0px 0px 6px 0px;
}
.form_text{
    
    border:1px solid #105090;
    border-radius:3px;
    background:white;
    height:40px;
    margin:0px 6px 0px 6px;
}
.form_text_ogran{
width:100px;    
border:1px solid #105090;
    border-radius:3px;
    background:white;
    height:40px;
    margin:0px 6px 0px 6px;
}
.form_text_mnogo{
    border:1px solid #105090;
    border-radius:3px;
    background:white;
    height:80px;
    margin:0px 20px 0px 20px;
}

